version: '3.8'

services:
  media-top-lists:
    build: .
    container_name: media-top-lists
    ports:
      - "9000:9000"
    volumes:
      - ./settings.json:/app/settings.json
    restart: unless-stopped
